# Copyright (c) 2019 Peter Bigot Consulting, LLC
# SPDX-License-Identifier: Apache-2.0

mainmenu "Xen Libraries"

config XEN_STORE_SRV
	bool "Enable XenStore server"
	help
	  Enable xenstore server library. It should be included
	  if you are running Zephyr as Dom0.

config XEN_LIBFDT
	bool "Enable libfdt support"
	help
	  Enable libfdt module. This module allows you to generate
	  Domain device tree based on the parameters set in the
	  Domain config. It provides complete toolset to work with
	  flattened device tree.

config PARTIAL_DEVICE_TREE_SIZE
	int "Domain device tree size"
	default 8192
	depends on XEN_LIBFDT
	help
	  Maximum size of the domain device tree

config XEN_DOMAIN_MANAGEMENT
	bool "Enable Xen Domain Management"
	depends on XEN_CONSOLE_SRV
	help
	  Enable domain management library. This library allows you
	  to create, destroy and manage xen domains.

config XEN_CONSOLE_SRV
	bool "Enable Xen Console server"
	default y
	help
	  Enable xen console server. It should be included if you
	  are running Zephyr as Dom0, otherwise any DomU that uses
	  Xen para-virtual console (PVC) may lock up. On other hand,
	  this server can be omitted if you are certain that DomUs
	  will never touch PV console.

config XEN_SHELL
	bool "Enable Xen shell commands"
	help
	  Enable set of Xen shell commands for domain management.

config XEN_VCH
	bool "Enable Xen vchannels support"
	help
	  Enable vchannel communication library.

config PFN_CHUNK_SIZE
	int "Chunk size for memory mapping operations"
	default 128
	help
	  Chunk size for helper functions for mapping/unmapping
	  memory from guest domain to Dom0.
